.bl-questions {
    background: white;
    border: black solid 3px;
    height: 480px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: 125px;
    width: 720px;
}

.bl-questions__prev, .bl-questions__next {
    cursor: pointer;
    display: block;
    height: 130px;
    width: 90px;
    opacity: 0.85;
    z-index: 4;
    position: relative;
    top: 310px;
}

.bl-questions__prev {
    float: left;
    background: url("../img/arrow-left.png");
    left: 180px;
}

.bl-questions__next {
    float: right;
    background: url("../img/arrow-right.png");
    left: -180px;
}

.bl-questions__prev:hover {
    background: url("../img/arrow-left-hover.png");
}

.bl-questions__next:hover {
    background: url("../img/arrow-right-hover.png");
}





.bl-questions__switchUp {
    display: block;
    height: 90px;
    width: 130px;
    position: relative;
    top: 125px;
    opacity: 0.85;
    margin: 0 auto;
    background: url("../img/arrow-up.png");
}

.bl-questions__switchUp:hover {
    background: url("../img/arrow-up-hover.png");
}

