.bl-questions {
    font-size: 1.6em;
    background: white;
    border: black solid 3px;
    height: 480px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: 125px;
    width: 640px;
}

.bl-questions .prev, .bl-questions .next {
    cursor: pointer;
    display: block;
    height: 100%;
    width: 40px;
    opacity: 0.7;
    z-index: 4;
    background-color: #00fffa;
    position: relative;
}

.bl-questions .prev {
    float: left;
}

.bl-questions .next {
    float: right;
}

.bl-questions__switchUp {
    display: block;
    height: 90px;
    width: 90px;
    position: relative;
    top: 125px;
    margin: 0 auto;
    background-color: #ff4f98;
}