.bl-intro {
    display: block;
    background: white;
    border: black solid 3px;
    height: 480px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: 100px;
    width: 640px;
}

.bl-intro__switchDown {
    display: block;
    height: 90px;
    width: 130px;
    opacity: 0.85;
    position: relative;
    top: 100px;
    margin: 0 auto;
    background: url("../img/arrow-down.png");
}

.bl-intro__switchDown:hover {
    background: url("../img/arrow-down-hover.png");
}