.bl-question {
    height: 100%;
    cursor: pointer;
    position: absolute;
    width: 600px;
    left: 800px;
}

.bl-question__question-container, .bl-question__answer-container {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #24262f;
}

.bl-question__question-container {
    font-size: 2.1em;
    font-weight: 400;
    color: #009028;
    background: url("../img/q-background.png");
}

.bl-question__question-container p::first-letter {
    Color: #ba9c34;
}

.bl-question__answer-container {
    font-size: 1.9em;
    font-family: Georgia,"Times New Roman",Times,serif;
    color: #F9F2DC;
    background: url("../img/a-background.png");
}


.bl-question__wrapper {
    display: table-cell;
    vertical-align: middle;
}


.bl-question p {
    display: block;
}


.bl-question__animate-in {
    left: 76px;
    opacity: 1;
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

.bl-question__animate-right {
    left: 800px;
    opacity: 0;
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

.bl-question__animate-left {
    left: -500px;
    opacity: 0;
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    transition-duration: 0.7s;
}
