li
  div(class=locals.class + ' ' + locals.options.id)
    div.question-container
      p
        #{locals.options.question.q}
    div.answer-container
      p
        #{locals.options.question.a}
