div(class=locals.class, id = locals.options.id)
  div.bl-question__question-container
    p
      !{locals.options.question.q}
  div.bl-question__answer-container
    p
      !{locals.options.question.a}
